    <span class="subtitles__wrapper" id="subtitles" tabindex="-1">
        <p>Underteksterne vil blive vist her.</p>
        <a href="#" class="subtitles__btn" id="subtitles-hide">
            <span class="material-icons">
                close
            </span>
        </a>
        <a href="#" class="subtitles__btn" id="subtitles-move">
            <span class="material-icons">
                expand
            </span>
        </a>
    </span>