            <li class="tools-list__item">
                <a href="#" id="enableAudio" class="task-tool" title="Slå lyd til">
                    <span class="material-icons">
                        volume_up
                    </span>
                </a>
                <a href="#" id="disableAudio" class="task-tool" title="Slå lyd fra">
                    <span class="material-icons">
                        volume_off
                    </span>
                </a>
            </li>