<li class="tools-list__item">
                <a href="#" id="playTask" class="task-tool" title="Afspil">
                    <span class="material-icons">
                        play_arrow
                    </span>
                </a>
                <a href="#" id="pauseTask" class="task-tool" title="Pause">
                    <span class="material-icons">
                        pause
                    </span>
                </a>
            </li>