<li class="tools-list__item">
                <a href="#" id="replayAudio" class="task-tool" title="Gentag instruktion">
                    <span class="material-icons">
                        replay
                    </span>
                </a>
            </li>