            <li class="tools-list__item">
                <a href="#" id="restartExercise" class="task-tool" title="Genstart">
                    <span class="material-icons">
                        fast_rewind
                    </span>
                </a>
            </li>