<li class="tools-list__item">
    <a href="#" id="enableSubtitles" class="task-tool" title="Slå undertekster til">
        <span class="material-icons">
            subtitles_off
        </span>
    </a>
    <a href="#" id="disableSubtitles" class="task-tool" title="Slå undertekster fra">
        <span class="material-icons">
            subtitles
        </span>
    </a>
</li>