<li class="overlay__item centered" id="audio-error-overlay">
                    <div class="overlay__wrapper">
                        <h2>📯Der gik noget galt med lyden.</h2>
                        <p class="error-detail"></p>
                        <a href="" class="error-action">ok.</a>
                    </div>
                </li>