
                <li class="overlay__item centered" id="confirm-restart-overlay">
                    <div class="overlay__wrapper">
                        <h2>Er du sikker på at du vil genstarte?</h2>
                        <p>Alt du har gjort vil blive tabt</p>
                        <span class="button__wrapper">
                            <a class="button button--alert" id="confirm-restart-btn">Genstart</a>
                            <a class="button button--positive" id="cancel-restart-btn">Anullér</a>

                        </span>
                    </div>
                </li>