<li class="overlay__item" id="debug-overlay">
                    <div class="overlay__wrapper">
                        <h1>debug</h1>
                        <ul class="options-list no-list">
                            <li>
                                <a id="debug--finish-exercise" href="#">Finish Exercise</a>
                            </li>
                            <li>
                                <a id="debug--go-to-exercise-btn" href="">Go to Task</a>
                                <input id="debug--go-to-exercise-input" href="">
                            </li>
                            <li>
                                Destroy everything
                            </li>
                        </ul>
                    </div>
                </li>