<li class="overlay__item centered active-overlay" id="intro-overlay">
                    <div class="overlay__wrapper">

                        <h4>Velkommen til</h4>
                        <h2 id="exercise-title"></h2>
                        <a href="#" class="button button--positive" id="intro-begin">
                            Begynd øvelsen
                        </a>

                        <div class="overlay__band">

                            <div id="exercise-description" class="richtext">
                                <p>Du er på vej ind i en Øvelse.</p>
                                <p>Held og lykke.</p>

                                <ul>
                                    <li>Punkt 1</li>
                                    <li>Punkt 2</li>
                                    <li>Punkt 3</li>
                                    <li>Punkt N</li>

                                </ul>
                            </div>
                            @*<ul class="settings-check__list">*@

                            <ul class="overlay__card-list">
                                
                                <li class="overlay__card-item hidden" id="audio-info">
                                @*<li class="settings-check__item audio-check active-check">*@
                                    <div class="card__header">
                                        @*<span class="material-icons icon">
                                            record_voice_over
                                        </span>*@
                                        <h3 class="card__title">Øvelsen kommer med Lyd</h3>
                                    </div>
                                    <div class="card__body">
                                        <p>Der vil blive afsplillet lyd igennem dele eller hele opgaven.</p>
                                        <p>Husk at slå din computers lyd til.</p>
                                        
                                    </div>
                                    <div class="card__footer">
                                        <a class="button button--small" href="#" id="intro-example-sound">
                                            <span class="material-icons">
                                                record_voice_over
                                            </span>
                                            <span>Eksempel Lyd</span>

                                        </a>
                                    </div>
                                    
                                </li>

                                @*<li class="settings-check__item subtitles-check">*@
                                <li class="overlay__card-item hidden" id="subtitle-info">
                                    <div class="card__header">
                                        <h3 class="card__title">Undertekster</h3>
                                    </div>
                                    <div class="card__body">
                                        
                                        <p>Hele eller dele af denne opgave har undertekster.</p>
                                        <p>Du kan fjerne underteksterne ved at trykke på krydset over dem.</p>
                                        <p>Du kan vælge at slå dem helt fra ved at trykke på undertekst-ikonet i den øverste bjælke, eller under indstillinger.</p>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>