<li class="overlay__item centered active-overlay" id="intro-overlay">
                    <div class="overlay__wrapper">

                        <h4>Velkommen til</h4>
                        <h2 id="exercise-title"></h2>
                        <a href="#" class="button button--positive" id="intro-begin">
                            Begynd øvelsen
                        </a>

                        <div class="overlay__band">

                            <div id="exercise-description" class="richtext">
                                <p>Du er på vej ind i en Øvelse.</p>
                                <p>Held og lykke.</p>

                                <ul>
                                    <li>Punkt 1</li>
                                    <li>Punkt 2</li>
                                    <li>Punkt 3</li>
                                    <li>Punkt N</li>

                                </ul>
                            </div>

                            <ul class="settings-check__list">

                                <li class="settings-check__item audio-check active-check">
                                    <p>Denne opgave kommer med lyd.</p>
                                    <p>Husk at slå din computers lyd til</p>
                                    <a class="button button--small" href="#">
                                        <span class="material-icons">
                                            record_voice_over
                                        </span>
                                        <span>Eksempel Lyd</span>

                                    </a>
                                </li>
                                <li class="settings-check__item subtitles-check">
                                    <p>Denne opgave har undertekster.</p>
                                    <p>find læsebrillerne frem!</p>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>