<li class="overlay__item centered" id="shortcircuit-overlay">
    <div class="overlay__wrapper">
        
        <h2>Der gik noget helt galt.</h2>
        <p id="shortcircuit-overlay-msg"></p>
    </div>
</li>