@import "base/variables.scss";
@import "base/keyframes.scss";
@import "base/fonts.scss";

@import "components/button.scss";
@import "components/feedback.scss";
@import "components/card.scss";
@import "components/subtitles.scss";
@import "components/switch.scss";

@import "modules/debug.scss";
@import "modules/exercise-player.scss";
@import "modules/header.scss";
@import "modules/overlay.scss";
@import "modules/intro-overlay.scss";
@import "modules/settings-overlay.scss";
@import "modules/result-overlay.scss";



* {
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-size: 16px;

}

body {

}

.page-width {
    width: 1080px;
    margin: 0 auto;
}

